.loading-gif {
    width: 8rem;
    margin-right: 47%;
}

.detail-img {
    height: 13rem;
}

.detail-card {
    background-color: rgba(235, 205, 181, 0.774);
    height: 27rem;
    width: 45rem;
    margin-top: 3.5rem;
    border-radius: 3rem;
    border: 3px solid black; 
    box-shadow: 5px 5px 10px #424242, -5px -5px 10px rgb(235, 205, 181);
}

.info-container{
    display:flex;
    justify-content: space-evenly;
}

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-container {
    display: flex;
    flex-direction: column;
    height: 13rem;
    justify-content: space-evenly;
    margin-left: 2rem;
    width: 18rem;
    /* background-color: red; */
}

.stat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.stat label {
    margin-right: 10px;
    font-size: x-large;
}

.stat meter{
    margin-right: 3rem;
}

meter{
    width: 10rem;
    height: 1.5rem;
}

.extra-container{
    /* background-color: red; */
    width: 18rem;
    margin-top: 0rem;
    margin-bottom: 0.2rem;
}

.types-section{
    /* margin-top: 1rem; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    height: 2.5rem;
}
 