.home-container{
    display: flex;
    flex-direction: column;
}

.home-container input{
    margin-right: 3rem;
    width: 7 rem;
}

.pokemonSearcherButton{
    width: 4rem;
    margin-top: 0rem;
}

.loading-gif{
    width: 8rem;
    margin-left: 45%;
}

.search-container{
    display: flex;
    justify-content: center;
}