.navContainer{
    background-color: red;
    width: 80rem;
    height: 4rem;
    display: flex;

}


.imgContainer img{
    /* background-color: aqua; */
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
    justify-content: flex-start;
}


.navegador{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    margin-left: 21rem;
    align-items: center;
    width: 20rem;
    height: 4rem;
}

.links{
    /* background-color: magenta; */
    display: flex;
    width: 20rem;
    /* margin-left: 750%; */
    justify-content: space-around;

    
}